$offWhite: #EEE;

/** Vibrant Color styles for all the skins */
<%#style.skins%>
    <%#if active %>
    .<%className%> {
		<%#each palette.bkgnd %>
			$<%@key%>: <%this%>;
		<%/each%>
		<%#each palette.fgnd %>
			$<%@key%>: <%this%>;
		<%/each%>
    } /* Theme */
    <%/if%>
<%/style.skins%>

/* Import the common functions. */
$host: "<%@config.imagePath%>";
$publishedMarkerWidth: "<%@config.publishedMarkerWidth%>px";
$unpublishedMarkerWidth: "<%@config.unpublishedMarkerWidth%>px";
@import 'background';

<%#if @config.debug %>
@import 'debug';
<%/if%>

/** Social Media Sharing Buttons (https://sharingbuttons.io/) ******/
@import 'sharing';

.bookFeatureBlock {
	.sharing {
		margin-top: 2em;
	}

	.resp-sharing-button__link {
	  margin: 0.25em
	}

	.resp-sharing-button {
	  padding: 0.3em 0.5em;
	}
  }


.truncateLine {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/** Fonts ****************************************************/

<%#style.fonts%>
@font-face {
	 font-family: '<%family%>';
	 src: <%#source%>url('<%url%>') format('<%format%>')<%#if last %>;<%else%>,<%/if%><%/source%>
}
<%/style.fonts%>

/** Structural styles *****************************************/
html {
	font-size: 100%;
}

.header-menu {
	min-height: 90px;
	text-align: right;
	margin: 0px;
	padding: 0px;
	background-color: transparent !important;
}

.header-menu li a {
	line-height: 1em;
	padding: 5px;
	font-family: '<%style.defaultFont%>';
	text-transform: uppercase;
	font-size: 100%;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.page-header-extra {
	text-align: right;
}

.page-top {
	display: none !important;
}

/* Centre the content area on the page */
.inner {
	margin: 0px auto;
}

.slideable_content {
	// Remove top and bottom margin for slideable content to avoid gap due to double margin.
	p:first-child {
		margin-top: 0px;
	}
	p:last-child {
		margin-bottom: 0px;
	}
}

.page-news {
	padding: 1px 12px;
	min-height: 20em;
	border-radius: 2em;
	font-family: '<%style.newsFont%>', sans-serif;

	.RssFeedLink {
		outline: none;
		float: right;
	}

	.entry-title {
		clear: both;
	}

	.post {
		margin-bottom: 1em;

		.posted-on .updated {
			margin-left: 0.25em;
		}
		.alignright {
			float: right;
		}
		.alignleft {
			float: left;
		}
	}

	.entry-footer {
		clear: both;
		opacity: 0.7;
	}

	.snslinks {
		margin-bottom: 1em;

		iframe, div, span, a {
			vertical-align: middle !important;

			img {
				vertical-align: bottom;
			}
		}
	}

	.post-navigation {
		.nav-links {
			padding: 1em 0 1em 0;

			.nav-previous {
				float: left;
			}
			.nav-next {
				float: right;
			}
		}
	}
}

.medialeft {
	float: left;
}

.mediaright {
	float: right;
}

.page-content {
	.content {
		min-height: 40em;
		margin-top: <%style.headerHeight.sm%>;

		padding: 1px 12px;
		border-radius: 2em;
	}

	.contentNoPanel {
		margin-top: <%style.headerHeight.noPanel.sm%>;
	}

	.title-centre h1 {
		text-align: center;
	}

	.title-right h1 {
		text-align: right;
	}

	/* A bit of a hack to add some padding to all wiki content to it looks right in the
	   .content sections but also lines up with the content outside them
	*/
	>p,>h1,>h2,>h3,>h4,>h5,>h6 {
		margin-left: 12px;
		margin-right: 12px;
	}
	h1,h2,h3,h4,h5,h6 {
		text-transform: uppercase;
		font-family: '<%style.defaultFont%>';
	}

	.table {
		table {
			tr {

			}

			th {
				padding: 3px;
			}

			td {
				padding: 3px;
			}
		}

	}
}

.page-contact {
	.feedback {
		input, textarea {
			color: initial;
		}
		.important {
			border: 2px solid red;
		}
		.feedbackButton {

			.fb_buttonUi {
				border: 1px solid white;
				padding: 5px;
			}
			.fb_status {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				color: white;
				border: 2px solid black;
				padding: 5px;
				border-radius: 5px;
				background-color: rgb(153, 153, 153);

				//.fb_statusInner {
				//}

				&.error {
					border: 2px solid red;
				}

				&.done {
					border: 2px solid green;
				}
			}
		}
	}

	#feedbackInput {
		width: 90%;
		height: 10em;
	}
}

.page-footer {
	.acks, .copyright {
		padding: 1.5em;
		text-align: center;
	}
	.license {
		padding: 1.5em 3em 1.5em 1.5em;
		text-align: center;
	}
}

/* font for the 'signaure' text on the author's page */
.authorsig {
	text-transform: uppercase;
	font-family: '<%style.defaultFont%>';
	font-size: 2em;
	margin: 0px !important;
	text-align: left;

	p {
		margin: 0px 12px 0px 12px;
		display: inline;
	}

	.authorname {
		display: inline;
		p {
			display: inline;
		}
	}

	img {
		max-width: 300px;
	}
}


/* Some extra classes for use with the Pure CSS framework */
/* Initially hidden elements*/
.pure-hide,
.pure-md-show,
.pure-lg-show,
.pure-xl-show
{
	display: none;
}

.padding-md {
	padding: 10px;
}


/** Book List ***************************************/
.booklist-nav {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}

.booklist-nav-left,
.booklist-nav-right
{
	position: absolute;
	top: 70px;
	padding: 5px;
	background: hsla(0,0%,50%,0.2);
	z-index: 5;
	font-size: 8em;
	font-weight: bold;
	color: hsla(0, 0%, 0%, 0.5);
	cursor: pointer;
	@include disable-text-selection();
	height: 0.5em;
	width: 0.5em;
	border-radius: 0.5em;
	line-height: 0.37em;
}

.booklist-nav-left {
	left: 0px;
}

.booklist-nav-right {
	right: 0px;
	text-indent: 0.1em;
}

.booklist-display {
	position: relative;
	/* white-space: nowrap;   Disable this until the book list scrolling is fixed. */
}

.booklist-item {
	display: inline-block;
	margin: 10px 5px;
}

.booklist-item span {
	float: right;
	vertical-align: top;
	padding: 5px;
}

.booklist {
	.links {
		img {
			border-radius: 3px;
		}
	}
}

/** Book Table ***************************************/
.bookTable-item {
	display: inline-block;
	vertical-align: top;
	margin: 0.5em;

	.authorList {
		margin-bottom: 0.5em;

		a {
			white-space: nowrap;
		}
	}

	.bookCoverImage {
		margin-bottom: 1.3em;
	}
}

/** Comic List ***************************************/
.comiclist-nav {
	border-radius: 3px;
	vertical-align: middle;
}

.comiclist-nav > div {
	display: inline-block;
}

.comiclist-display {
	width: 90%;
	margin-left: 5%;
}

.comiclist-nav-left,
.comiclist-nav-right
{
	position: absolute;
	top: 70%;
	padding: 7px;
	background: hsla(0,0%,50%,0.2);
	z-index: 5;
	font-size: 4em;
	font-weight: bold;
	color: hsla(0, 0%, 0%, 0.5);
	cursor: pointer;
	@include disable-text-selection();
	height: 0.5em;
	width: 0.5em;
	border-radius: 0.5em;
	line-height: 0.36em;
}

.comiclist-nav-right {
	margin-left: -0.5em;
	padding: 7px 0px 7px 14px;
}

.comiclist-item {
}

.comiclist-item img {
	width: 100%;
}

/** Book Block ***************************************/
.bookTitle {
	display: inline-block;
	font-family: '<%style.defaultFont%>';
	text-transform: uppercase;
	font-size: 200%;
	font-weight: bolder;
	margin: .5em 0;
}

.bookSeries {
	display: inline-block;
	margin-left: 2em;
}

.bookblock {
	width: 100%;
	margin-bottom: 1em;

	.cover {
		padding-bottom: 1em;
	}

	.sold {
		font-weight: bold;
		color: darkblue
	}

	.linksBoxWide {
		a {
			display: inline-block;
			vertical-align: top;
			margin: 0 10px 0 0;

			&:hover {
				img {
					opacity: 0.5;
				}
			}

			img {
				border-radius: 3px;
			}
		}
	}

	.summary {
  		padding: 0 1em 0 1em;

		.logline {
			font-weight: bold;
			margin-bottom: 1em;
		}

		.linksWide {
			margin-bottom: 0.8em;
		}

		.summaryText {
			margin-bottom: 1em;
			white-space: pre-wrap;
		}
	}

}

.promoSection {
	.promoItem {
		display: inline-block;
		margin: 15px;
		border: 5px solid #202020;

		.promoThumb {
			max-width: 300px;
		}

		.sharing {
		    position: relative;
		    top: -10px;
		    left: 10px;
		    text-align: right;
		    height: 0px;

			.fb-like {
				display: inline-block;
			}
			.tw-share {
				display: inline-block;
			}
		}
	}
}

/** Home Page ***************************************/
.page-content {
	.contentNoPanel {
		margin-top: 20px;

		h1, h2, .bookfeature, .booklist, .sectTitle, .sectDesc {
			margin: 0px auto;
		}

		h1, h2 {
			margin-bottom: 1em;
		}
	}
}

.sectTitle {
	font-style: italic;
}

.sectDesc {
	margin-bottom: 30px;
}

.bookFeatureBlock {
	position: relative;
	padding: 2em;
	border-radius: 2em;
	margin-bottom: 30px;

	.bookCover {
		img {
			display: block;
			margin: 0px auto;
		}
	}

	.newReleaseBanner {
		background: no-repeat url('/data/images/new-release-1.png') center;
		height: 35px;
		margin: 10px 0 5px 0;
		padding: 5px;

		&.bookFeatureTop {
		}

		&.bookFeatureBottom {
			display: none;
		}
	}

	.newReleaseSubtitle {
		margin: 5px 0 20px 0;
		text-align: center;
	}

	.bookLogline {
		margin: 10px 0px 10px 0px;
		font-weight: bold;
	}

	.bookBlurbWrapper {
		.bookTitle {
			font-family: '<%style.defaultFont%>';
			text-transform: uppercase;
			font-size: 200%;
			font-weight: bold;
			margin-top: 1em;
		}

		.bookBlurb {
			white-space: pre-wrap;
		}
	}

	.distributorList {
		div.socialMediaLink {
			display: inline-block;
		}

		a {
			outline: 0px;
		}

		.title {
			font-weight: bold;
			margin-right: 0.5em;
		}

		div,a img {
			vertical-align: middle;
		}

		.distributorLink {
			a {
				display: inline-block;
				border-radius: 3px;

				img {
					margin: 5px;
					border-radius: 3px;
				}

				&:hover {
					img {
						opacity: 0.8;
					}
				}
			}
		}

		&.bookFeatureTop {
			margin-bottom: 1em;
		}

		&.bookFeatureBottom {
			display: none;
		}
	}

}

.inStoresBtn {
	border-radius: 5px;
	padding: 6px;

	&:hover {
		text-decoration: none;
		opacity: 0.8;
	}
}

.aboutTheAuthorBlock {
	margin-top: 3em;
}

.notificationBanner {
	margin-bottom: 1em;
	background-color: black;
	padding: 0.2em;
	border-radius: 3px;

	p {
		margin: 12px;
		color: hsl(82, 35%, 63%);
	}

}

.bookCoverImage {
	display: block;
	position: relative;
}

.bookCoverLink {
	display: block;
	width: 100%;
	height: 100%;
}

.buybookStyle {
	margin: 0px auto;
	border-radius: 8px;
	padding: 5px;
	text-decoration: none !important;
	text-align: center;
	white-space: nowrap;

	color: white !important;
	background-color: rgba(195, 198, 197, 0.65);

	&:hover {
		background-color: rgba(195, 198, 197, 0.90);
	}
}

.buybook {
	display: block;
	position: relative;
	top: -15px;
	width: <%@config.publishedMarkerWidth%>px;
	//width: $publishedMarkerWidth;
	margin: 0px auto;
	border-radius: 8px;
	padding: 5px;
	text-decoration: none !important;
	text-align: center;
	white-space: nowrap;

	color: white !important;
	background-color: rgba(195, 198, 197, 0.65);

	&:hover {
		background-color: rgba(195, 198, 197, 0.90);
	}
}

.comingSoon {
	display: block;
	position: relative;
	top: -15px;
	margin: 0px auto;
	border-radius: 8px;
	padding: 5px;
	text-decoration: none !important;
	text-align: center;
	width: <%@config.unpublishedMarkerWidth%>px;
	//width: $unpublishedMarkerWidth;
	color: white !important;
	background-color: rgba(128, 128, 128, 0.65);
}

.bookSubText {
	font-size: 80%;
	padding: 0 0 2px 0;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.sectDescMoreBtn {
	text-decoration: italic;
	cursor: pointer;

	&.expanded {
		display: none;
	}
}


/** Accessibility **********************************/
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/** Facebook ***************************************/
.facebook {
	width: 100%;

	.fbBookSection {
		border-bottom: 2px solid black;

		h2 {
			padding: 1em 0 0 0.7em;
		}
	}

	.fbBookBlock {
	}

	.bookCoverImage {
		margin: 0 0 1em 1em;
	}

	.bookLogline {
		width: 300px;
		padding: 0 1em;
	}

	.distributorLinks {
		width: 100px;

		.title {
			display: inline-block;
			font-weight: bolder;
			padding-bottom: 5px;
		}

		a {
			display: inline-block;
		}
	}
}

/** Themes *****************************************/
a.themebtn {
	.long {
		white-space: nowrap;
	}
}

@media screen {

	/** Common */
	a:link {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	a:visited {
	}
	a:active {
	}

	<%#style.skins%>
	  <%#if active %>
		/** <%displayName%> ****************************************/
		.<%className%> {
			<%#if solid %>
				@include background-gradients-solid(<%headerColor%>, <%footerColor%>, <%imageFileNameRoot%>);
			<%else%>
				@include background-gradients-SM(<%headerColor%>, <%footerColor%>, <%imageFileNameRoot%>);

				.content {
					@include content-gradients(<%contentBkColor%>, <%contentBoxShadowColor%>);
				}
			<%/if%>

			.page-header-logo {
				position: absolute;
				z-index: -1;
				height: 200px;
				width: 200px;
				background: url('<%logo.small%>');
				background-repeat: no-repeat;
				background-position: 0px 0px;
				background-size: 170px;
			}

			.page-header-logo-link {
				//border: 1px solid red;
				display: block;
				position: absolute;
				z-index: 50;
				height: 90px;
				width: 110px;
			}

			<%#if textColor %>
				color: <%textColor%>;
			<%/if%>

			.header-menu li a:hover {
				background-color: <%headerMenuHoverBkgnd%>;
			}

			.header-menu li a.selected {
				&:link,
				&:visited,
				&:hover,
				&:active {
					color: <%headerMenuSelectedColor%>;
					background-color: <%headerMenuSelectedBkgnd%>;
				}
			}

			a:link, a:visited, a:hover, a:active, .linkColor {
				color: <%linkColor%>;
			}

			.header-menu li a {
				color: <%headerMenuColor%>;
			}

			.header-menu li a:hover {
				text-decoration: none;
				color: <%headerMenuHoverColor%>;
				text-shadow: none;
			}

			.title-flipcolor h1 {
				color: <%titleFlipColor%>;
				text-shadow: 0px 0px 10px <%titleFlipShadowColor%>;
			}

			.inStoresBtn {
				color: <%headerMenuColor%>;
				border-radius: 5px;
				background-color: <%headerColor%>;
			}

			.page-footer {
				color: <%footerTextColor%>;
				text-shadow: 0px 0px 6px <%footerTextShadowColor%>;
				a {
					color: <%footerTextColor%>;
				}
			}

			a.themebtn {
				border-color: <%headerMenuColor%>;
				color: <%headerMenuColor%>;
			}

			.themebtn-<%className%> {
				display: none;
			}

		} /* Theme */
	  <%/if%>
	<%/style.skins%>

}

/** Theme buttons ************************************************/
.themebtn-outer {
}

a.themebtn {
	float: right;
	clear: both;
	position: relative;
	top: 50px;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	font-weight: bold;
	font-size: 1.5em;
	margin: 2px 0px 2px 2px;
	padding: 4px 2px 0px 2px;
	text-decoration: none;
	min-width: 1em;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

a.themebtn .long,
a.themebtn:hover .short {
	display: none;
}

a.themebtn:hover .long {
	display: inline;
	padding: 0px 3px 0px 3px;
	color: black;
}

a.themebtn:hover {
	left: -1px;  // Extra 1px causes scrollbar, not sure why?
	text-decoration: none;
	color: black;
	border-color: hsl(0, 0%, 80%);
	background-color: hsla(0, 0%, 80%, 0.5);
}

.bookblock {
	.cover, .summary, .links {
		display: inline-block;
	}
}



/*** Small screen ***********************************************************/
/*
@media screen and (min-width: <%style.bkgndConfig.widthXSm%>px) {

}
*/

/*** Medium screen ***********************************************************/
@media screen and (min-width: <%style.bkgndConfig.widthSm%>px) {
	/** Common */
	.pure-md-hide {
		display: none !important;
	}
	.pure-md-show {
		display: inline-block !important;
	}

	.header-menu {
		min-height: 110px;
	}

	.header-menu li a {
		line-height: 1.5em;
		padding: 5px 20px;
		font-weight: bold;
		font-size: 130%;
	}

	.page-content { /* Re-adjust the logo image spacing */
		background-position: 0px -130px;

		.content
		{
			margin-top: <%style.headerHeight.md%>;
			min-height: 30em;
		}

		.contentNoPanel {
			margin-top: <%style.headerHeight.noPanel.md%>;

			h1, h2, .bookfeature, .booklist, .sectTitle, .sectDesc {
				max-width: 800px;
			}
		}
	}

	.authorsig {
		font-size: 3em;
	}

	/** Book Block ***************************************/
	/* Having trouble with ractive sizing - these rules ends up applied at all times, not just small widths??
	.bookTitle {
		margin: .1em 0;
		font-size: 125%;
	}

	.bookSeries {
		margin: 0;
	}
	*/

	.bookblock {
		.cover, .summary, .links {
			display: table-cell;
			vertical-align: top;
		}
		.cover .isbns {
			padding: 10px;
		}
	}

	.promotionsBlock {
		padding: 0 3em;
		.title {
			font-weight: bold;
			font-size: larger;
			margin-bottom: 0.5em;
		}
		.promotions {
			justify-content: center;
			.promoCol {
				.title {
					font-weight: bold;
					font-size: initial;
				}
				.promoContainer {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;

					.promoItem {
						margin: 0 5px;

						.promoLink {
							font-size: 60%;
							vertical-align: top;
						}
					}
				}
			}
		}
	}

	.bookFeatureBlock {
		.bookCover {
			display: table-cell;
			vertical-align: middle;
		}

		.newReleaseBanner {
			margin: 0 5px 5px 5px;

			&.bookFeatureTop {
				display: none;
			}

			&.bookFeatureBottom {
				display: block;
			}
		}

		.newReleaseSubtitle {
		}

		.bookLogline {
			font-style: italic;
		}

		.bookBlurbWrapper {
			display: table-cell;
			vertical-align: top;
			padding: 0 10px 0 10px;
			min-height: 385px;

			.bookTitle {
				margin-top: -6px;
			}
		}

		.distributorList {
			display: table-cell;
			vertical-align: top;

			&.bookFeatureTop {
				display: none;
			}

			&.bookFeatureBottom {
				// Set a fixed-width here to stop the FB button load from messing with the box flow causing jitter.
				min-width: 92px;

				display: table-cell;

				img {
					max-width: 90px;
				}

				.distributorLink {
					a img {
						margin: 5px;
						border-radius: 3px;
					}
				}
			}

		}


	}

	<%#style.skins%>
	  <%#if active %>
		/** <%displayName%> ****************************************/
		.<%className%> {
			<%#if solid %>
				@include background-gradients-solid(<%headerColor%>, <%footerColor%>, <%imageFileNameRoot%>);
			<%else%>
				@include background-gradients-MD(<%headerColor%>, <%footerColor%>, <%imageFileNameRoot%>);
			<%/if%>

			.page-header-logo {
				position: absolute;
				height: 500px;
				width: 500px;
				background: url('<%logo.large%>');
				background-repeat: no-repeat;
				background-position: 0px 0px;
				background-size: 250px;
			}

			.page-header-logo-link {
				display: block;
				position: absolute;
				top: 20px;
				left: 20px;
				height: 180px;
				width: 250px;
			}

			.bookFeatureBlock {
				background-color: <%featureBkColor%>;
				color: <%featureTextColor%>;
			}

			.bookLogline {
				color: <%featureLoglineColor%>;
			}

		}
	  <%/if%>
	<%/style.skins%>

	/** Mist Warden structural fixes ***************************************/
	.mistwarden {
		.content
		{
			margin-top: 90px;
			min-height: 30em;
		}

		.contentNoPanel {
			margin-top: 90px;
		}

		.header-menu {
			min-height: 110px;
		}
	}
}

/*** Large screen ***********************************************************/
@media screen and (min-width: <%style.bkgndConfig.widthMd%>px) {

	.pure-lg-hide {
		display: none !important;
	}
	.pure-lg-show {
		display: inline-block !important;
	}

	.header-menu {
		min-height: 110px;
	}

	.header-menu li a {
		line-height: 1.5em;
		padding: 5px 20px;
		font-weight: bold;
		font-size: 150%;
	}

	.page-content {
		.content {
			margin-top: <%style.headerHeight.lg%>;
			min-height: 40em;
		}

		.contentNoPanel {
			margin-top: <%style.headerHeight.noPanel.lg%>;

			h1, h2, .bookfeature, .booklist, .sectTitle, .sectDesc {
				max-width: 1000px;
			}
		}
	}

	.authorsig {
		font-size: 4em;
	}

	<%#style.skins%>
	  <%#if active %>
		/** <%displayName%> ****************************************/
		.<%className%> {
			<%#if solid %>
				@include background-gradients-solid(<%headerColor%>, <%footerColor%>, <%imageFileNameRoot%>);
			<%else%>
				@include background-gradients-LG(<%headerColor%>, <%footerColor%>, <%imageFileNameRoot%>);
			<%/if%>

			.page-header-logo {
				position: absolute;
				height: 500px;
				width: 500px;
				background: url('<%logo.large%>');
				background-repeat: no-repeat;
				background-position: 0px 0px;
				background-size: 320px;
			}

			.page-header-logo-link {
				display: block;
				position: absolute;
				height: 190px;
				width: 300px;
			}
		}
	  <%/if%>
	<%/style.skins%>

	.authorsig {
		img {
			max-width: 400px;
		}
	}
}

/** Extra Large Screen **************************************************************/
@media screen and (min-width: <%style.bkgndConfig.widthLg%>px) {
	.pure-xl-hide {
		display: none !important;
	}
	.pure-xl-show {
		display: inline-block !important;
	}

	.page-content {
		.contentNoPanel {
			.bookfeature {
				max-width: 1200px;
			}

			h1, h2, .booklist, .sectTitle, .sectDesc {
				max-width: 1500px;
			}
		}
	}

	<%#style.skins%>
	  <%#if active %>
		/** <%displayName%> ****************************************/
		.<%className%> {
			<%#if solid %>
				@include background-gradients-solid(<%headerColor%>, <%footerColor%>, <%imageFileNameRoot%>);
			<%else%>
				@include background-gradients-XL(<%headerColor%>, <%footerColor%>, <%imageFileNameRoot%>);
			<%/if%>
		}
	  <%/if%>
	<%/style.skins%>

	.authorsig {
		img {
			max-width: 1000px;
		}
	}
}
