{%#> page id=pageId %}

<div class="authorPage content"><div class="authorsig">

<div class="authorname">
<p>
{%author.name%}
</p>
</div>
<p>
<a href="{%author.bioPicLink%}" class="media"><img src="{%author.bioPic%}" class="mediaright" alt="" /></a>
</p>
</div>
<p>
<!-- Take out expander until we actually have some descriptiive text for these 'medium' groups.
<div class="sectDesc textSlider" sliderMinHeight="180">
  <div style="max-height: 200px; overflow: hidden;">
    {%noescape author.bio%}
  </div>
</div>
-->
{%noescape author.bio%}
</p>

{%#each author.pubs%}
<!-- Only one type of pubs for paintings site, so far <h2 class="" id="{%typePlural%}">{%displayName%}</h2> -->
<p>
<div class="booklist" ng-controller="BookListController">
  <div class="booklist-display">
    {%#list%}
    <div class="booklist-item booklist-item{%@index%}">
      <div class="bookSubText truncateLine {%id%}CoverIconWidth" title="{%title%} {%logline%}">{%title%} {%logline%}</div>
      <div class="bookCoverImage {%id%}CoverIcon">
        <a class="bookCoverLink" href="{%@config.booksPath%}/{%id%}{%@config.ext%}" aria-label="{%title%} {%logline%}"></a>
        {%#if published%}
        <a class="buybook" href="{%primaryDistributor.url%}" target="_blank" title="{%primaryDistributor.popupText%}">{%publishedStickerText%}</a>
        {%else%}
        <div class="comingSoon">{%unpublishedStickerText%}</div>
        {%/if%}
      </div>
    </div>
    {%/list%}
  </div>
</div>
</p>
{%/each%}

</div>

{%/page%}