{%#> page id=pageId %}
<div class="page-book content">
<p>

<h1>{%book.title%}</h1>
<div class="author">Category:
  {%#book.author%}
    {%#if external %}<a href="{%url%}" target="blank">{%name%}</a>{%else%}<a href="{%@config.authorPath%}/{%id%}{%@config.ext%}">{%name%}</a>{%/if%}{%#if @last%}.{%else%},{%/if%}
  {%/book.author%}
</div>

<div class="bookblock">
  <div class="cover {%book.id%}CoverImage"></div>
  <div class="summary">
    {%#if book.published %}{%else%}<div class="sold">SOLD</div>{%/if%}
    <div style="min-height: 1em;"></div>
    <div class="logline">{%breaklines book.logline%}</div>
    <div class="summaryText">{%noescape book.blurb%}</div>
    <a class="buybookStyle" href="{%book.primaryDistributor.url%}" target="_blank" title="{%book.primaryDistributor.popupText%}">{%book.publishedStickerText%}</a>
    <div class="linksWide">
      <div class="linksBoxWide">
        {%#book.distributors%}
        <a href="{%url%}" target="_blank" aria-label="{%name%}">
          <img src="{%iconUrl%}" title="{%name%}" alt="{%name%}">
        </a>
        {%/book.distributors%}
      </div>
    </div>
    <div style="min-height: 1em;"></div>
    {%> sharing book %}
  </div>
</div>
</div>
{%/page%}