{%#> page mainPage=true %}

<div class="authorPage content"><div class="authorsig">
  <div class="authorname">{%group.name%}</div>
  <a href="{%group.imageLink%}" class="media"><img src="{%group.image%}" class="mediaright {%group.imageExtraStyle%}" alt="{%group.imageAlt%}"/></a>
</div>
<p>

<div class="sectDesc textSlider" sliderMinHeight="180">
  <div style="max-height: 1000px; overflow: hidden;">
    {%noescape group.bio%}
  </div>
</div>

</p>

{%#if group.socialMediaLinks%}
<h2 class="" id="contact">Contact</h2>
<p>
You can find me on
{%#group.socialMediaLinks%}
    <a href="{%url%}" class="urlextern" target="blank">{%name%}</a>{%#if @last%}.{%else%},{%/if%}
{%/group.socialMediaLinks%}
</p>
{%/if%}

{%#each group.pubs%}
<h2 class="" id="{%typePlural%}">{%displayName%}</h2>
<p>
<div class="booklist">
  <div class="booklist-display">
    {%#list%}
    <div class="booklist-item booklist-item{%@index%}">
      <div class="bookCoverImage {%id%}CoverIcon">
        <a class="bookCoverLink" href="{%@config.booksPath%}/{%id%}" aria-label="{%title%}"></a>
        {%#if published%}
        <a class="buybook" href="{%primaryDistributor.url%}" target="_blank" title="Buy now from {%primaryDistributor.name%}">Buy Now</a>
        {%else%}
        <div class="comingSoon">Coming Soon!</div>
        {%/if%}
      </div>
    </div>
    {%/list%}
  </div>
</div>
</p>
{%/each%}

</div>

{%/page%}