{%#> page altPage=true %}

<div class="authorPage content"><div class="authorsig">

<div class="authorname">
<p>
{%author.name%}
</p>
</div>
<p>
<a href="{%author.bioPicLink%}" class="media"><img src="{%author.bioPic%}" class="mediaright" alt="" /></a>
</p>
</div>
<p>

<div class="sectDesc textSlider" sliderMinHeight="180">
  <div style="max-height: 200px; overflow: hidden;">
    {%noescape author.bio%}
  </div>
</div>

</p>

{%#each author.pubs%}
<h2 class="" id="{%typePlural%}">{%displayName%}</h2>
<p>
<div class="booklist" ng-controller="BookListController">
  <div class="booklist-display">
    {%#list%}
    <div class="booklist-item booklist-item{%@index%}">
      <div class="bookCoverImage {%id%}CoverIcon">
        <a class="bookCoverLink" href="{%@config.booksPath%}/{%id%}{%@config.ext%}" aria-label="{%title%}"></a>
        {%#if published%}
        {%else%}
        <div class="comingSoon">SOLD</div>
        {%/if%}
      </div>
    </div>
    {%/list%}
  </div>
</div>
</p>
{%/each%}

</div>

{%/page%}