{%#> page id=pageId uiApp=@config.useBookLists %}

<div class="page-home contentNoPanel">

{%#if @config.useBookLists%}
  {%#if ../items.useCarousel%}
    <div class="booklist booklistCarousel booklistCarousel{%../items.length%} hidden">
      <div id="{%group.id%}_pubs" data-onclick="selectFeature" data-overlayText="{%@config.publishedStickerText%}/{%@config.unpublishedStickerText%}"></div>
    </div>
  {%/if%}
  <div class="booklist booklistStatic booklistStatic{%../items.length%}">
    {%#items%}
      <div class="booklist-item booklist-item{%@index%}">
        <div class="bookCoverImage {%id%}CoverIcon">
          <a class="bookCoverLink" onclick="selectFeature('{%id%}')" aria-label="{%title%}"></a>
          {%#if published%}
            <a class="buybook" href="{%primaryDistributor.url%}" target="_blank" title="Buy now from {%primaryDistributor.name%}">{%@config.publishedStickerText%}</a>
          {%else%}
            <div class="comingSoon">{%@config.unpublishedStickerText%}</div>
          {%/if%}
        </div>
      </div>
    {%/items%}
  </div>
  <div class="bookFeatureContainer">
    {%#items%}
      {%> bookFeature . %}
    {%/items%}
  </div>
  {%#if @config.useBookCategories%}
    {%#each group.pubs%}
      <h2 class="" id="{%@key%}">{%displayName%}</h2>
      {%#if useCarousel%}
        <div class="booklist booklistCarousel booklistCarousel{%list.length%} hidden">
          <div id="{%../group.id%}_{%@key%}" data-overlayText="{%@config.publishedStickerText%}/{%@config.unpublishedStickerText%}"></div>
        </div>
      {%/if%}
      <div class="booklist booklistStatic booklistStatic{%list.length%}">
        <div class="booklist-display">
          {%#list%}
          <div class="booklist-item booklist-item{%@index%}">
            <div class="bookCoverImage {%id%}CoverIcon">
              <a class="bookCoverLink" href="{%@config.booksPath%}/{%id%}" aria-label="{%title%}"></a>
              {%#if published%}
              <a class="buybook" href="{%primaryDistributor.url%}" target="_blank" title="Buy now from {%primaryDistributor.name%}">Buy Now</a>
              {%else%}
              <div class="comingSoon">Coming Soon!</div>
              {%/if%}
            </div>
          </div>
          {%/list%}
        </div>
      </div>
    {%/each%}
  {%/if%}
{%else%}
  {%#items%}
    {%> bookFeature . %}
  {%/items%}
{%/if%}

</div>

{%#if @config.useBookLists%}
<script>
  const breakPoints = [{
    minStaticWidth: ({%items.length%} * ({%@config.coverIconWidth%} + 10)) + 60,
    carouselCls: 'booklistCarousel' + {%items.length%},
    staticCls: 'booklistStatic' + {%items.length%}
  {%#each group.pubs%}
  },{
    minStaticWidth: ({%list.length%} * ({%@config.coverIconWidth%} + 10)) + 60,
    carouselCls: 'booklistCarousel' + {%list.length%},
    staticCls: 'booklistStatic' + {%list.length%}
  {%/each%}
  }]
  let resizeDebounce = null

  function handleResize() {
    breakPoints.map(bp => {
      //console.log('In resize breakpoint. Window width: ' + window.innerWidth + ' min static list width: ' + bp.minStaticWidth)
      if (window.innerWidth < bp.minStaticWidth) {
        toggleCarouselVisibility(bp, true)
      } else {
        toggleCarouselVisibility(bp, false)
      }
    })
  }

  function toggleCarouselVisibility(breakPoint, showCarousel) {
    // if (showCarousel) {
    //   console.log('Toggle visibility on for ' + breakPoint.carouselCls + ' off for ' + breakPoint.staticCls)
    // } else {
    //   console.log('Toggle visibility on for ' + breakPoint.staticCls + ' off for ' + breakPoint.carouselCls)
    // }
    const carouselList = document.getElementsByClassName(breakPoint.carouselCls)
    const staticList = document.getElementsByClassName(breakPoint.staticCls)
    for (var i = 0; i < carouselList.length; ++i) {
      const elem = carouselList[i]
      elem.classList.toggle("hidden", !showCarousel);
    }
    for (var i = 0; i < staticList.length; ++i) {
      const elem = staticList[i]
      elem.classList.toggle("hidden", showCarousel);
    }
  }

  window.onresize = (ev) => {
    clearTimeout(resizeDebounce)
    resizeDebounce = setTimeout(() => {
      handleResize()
    }, 250)
  }

  handleResize()

  function selectFeature(id) {
    const featuresList = document.getElementsByClassName('bookfeature')
    for (var i = 0; i < featuresList.length; ++i) {
      const elem = featuresList[i]
      elem.classList.toggle("selected", elem.id === ('book-feature-' + id));
    }
  }

  // Invoke on page load
  {%#with (lookup items 0)~%}
    selectFeature('{%id%}')
  {%/with%}

</script>

<div id="booksSlider"></div>
{%/if%}

{%/page%}
