<div id="book-feature-{%id%}" class="bookfeature">
    <div class="bookFeatureBlock">
      <div class="distributorList bookFeatureTop">
        <div class="distributorLink">
          <span class="title">Buy now at:</span>
          {%#distributors%}
            <a href="{%url%}" target="_blank" aria-label="{%name%}">
            <img src="{%featureIconUrl%}" width="{%featureIconWidth%}" height="{%featureIconHeight%}" title="{%name%}" alt="{%name%}">
            </a>
          {%/distributors%}
        </div>
        {%> sharing . %}
      </div>
      <div class="bookCover">
        <img
          src="{%@config.imagePath%}/{%featureCoverImage%}"
          alt="Book cover for {%title%}"
          width="{%featureCoverImageSize.width%}"
          height="{%featureCoverImageSize.height%}"
          {%#unless featured%}loading="lazy"{%/unless%}
        >
      </div>
      <div class="bookBlurbWrapper">
        <div class="bookTitle">{%title%}</div>
        {%#if seriesIndex%}
          <div class="bookSeriesTitle">
          {%#if external %}
            Book {%seriesIndex%} of the <a href="{%series.url%}" target="blank">{%seriesName%}</a> series
          {%else%}
            Book {%seriesIndex%} of the <a href="/series/{%series.id%}">{%seriesName%}</a> series
          {%/if%}
          </div>
        {%/if%}
        <div class="bookLogline" style="color: {%loglineColor%};">{%logline%}</div>
        <div class="bookBlurb">{%noescape blurb%}</div>
      </div>
      <div class="distributorList bookFeatureBottom">
        <div class="distributorLink">
          <span class="title">Buy now at:</span>
          {%#distributors%}
            <a href="{%url%}" target="_blank" aria-label="{%name%}">
            <img src="{%featureIconUrl%}" width="{%featureIconWidth%}" height="{%featureIconHeight%}" title="{%name%}" alt="{%name%}">
            </a>
          {%/distributors%}
        </div>
        <div class="sharing">
          {%> sharing . %}
        </div>
      </div>
    </div>
</div>
