{%#> page id=pageId uiApp=true %}

<div class="page-home contentNoPanel">

{%> bookFeature feature %}

<h1 id="authors">Authors</h1>

{%#groups%}
  {%#unless external%}
    <h2><a href="{%@config.authorPath%}/{%id%}">{%name%}</a></h2>
    {%#if useCarousel%}
      <div class="booklist booklistCarousel booklistCarousel{%list.length%} hidden">
        <div id="{%id%}_pubs" data-overlayText="{%@config.publishedStickerText%}/{%@config.unpublishedStickerText%}"></div>
      </div>
    {%/if%}
    <div class="booklist booklistStatic booklistStatic{%list.length%}">
    {%#list%}
      <div class="booklist-item booklist-item{%@index%}">
        <div class="bookCoverImage {%id%}CoverIcon">
          <a class="bookCoverLink" href="{%@config.booksPath%}/{%id%}" aria-label="{%title%}"></a>
          {%#if published%}
            <a class="buybook" href="{%primaryDistributor.url%}" target="_blank" title="Buy now from {%primaryDistributor.name%}">Buy Now</a>
          {%else%}
            <div class="comingSoon">Coming Soon!</div>
          {%/if%}
        </div>
      </div>
    {%/list%}
    </div>
  {%/unless%}
{%/groups%}

</div>

{%#if @config.useBookLists%}
<script>
  let breakPoints = [{
    {%#groups%}
      {%#unless external%}
        },{
          minStaticWidth: ({%list.length%} * ({%@config.coverIconWidth%} + 10)) + 60,
          carouselCls: 'booklistCarousel' + {%list.length%},
          staticCls: 'booklistStatic' + {%list.length%}
      {%/unless%}
    {%/groups%}
  }]
  breakPoints = breakPoints.slice(1) // Clear dummy empty list element
  let resizeDebounce = null

  function handleResize() {
    breakPoints.map(bp => {
      //console.log('In resize breakpoint. Window width: ' + window.innerWidth + ' min static list width: ' + bp.minStaticWidth)
      if (window.innerWidth < bp.minStaticWidth) {
        toggleCarouselVisibility(bp, true)
      } else {
        toggleCarouselVisibility(bp, false)
      }
    })
  }

  function toggleCarouselVisibility(breakPoint, showCarousel) {
    // if (showCarousel) {
    //   console.log('Toggle visibility on for ' + breakPoint.carouselCls + ' off for ' + breakPoint.staticCls)
    // } else {
    //   console.log('Toggle visibility on for ' + breakPoint.staticCls + ' off for ' + breakPoint.carouselCls)
    // }
    const carouselList = document.getElementsByClassName(breakPoint.carouselCls)
    const staticList = document.getElementsByClassName(breakPoint.staticCls)
    for (var i = 0; i < carouselList.length; ++i) {
      const elem = carouselList[i]
      elem.classList.toggle("hidden", !showCarousel);
    }
    for (var i = 0; i < staticList.length; ++i) {
      const elem = staticList[i]
      elem.classList.toggle("hidden", showCarousel);
    }
  }

  window.onresize = (ev) => {
    clearTimeout(resizeDebounce)
    resizeDebounce = setTimeout(() => {
      handleResize()
    }, 250)
  }

  handleResize()

</script>

<div id="booksSlider"></div>
{%/if%}

{%/page%}
