{%#> page id=pageId uiApp=true %}

<div class="authorPage content"><div class="authorsig">
  <div class="authorname">{%group.name%}</div>
  <a href="{%group.imageLink%}" class="media"><img src="/{%group.image%}" class="mediaright {%group.imageExtraStyle%}" alt="{%group.imageAlt%}"/></a>
</div>

<details>
  <summary>
    <div class="summary">{%noescape group.content%}</div>
    <div class="more">
      <div class="moreButton">More...</div>
    </div>
  </summary>
  <div class="content">{%noescape group.content%}</div>
</details>

{%#if group.socialMediaLinks%}
<h2 class="" id="contact">Contact</h2>
<p>
You can find me on
{%#group.socialMediaLinks%}
    <a href="{%url%}" class="urlextern" target="blank">{%name%}</a>{%#if @last%}.{%else%},{%/if%}
{%/group.socialMediaLinks%}
</p>
{%/if%}

{%#each group.pubs%}
  <h2 class="" id="{%@key%}">{%displayName%}</h2>
  {%#if useCarousel%}
    <div class="booklist booklistCarousel booklistCarousel{%list.length%} hidden">
      <div id="{%../group.id%}_{%@key%}" data-overlayText="{%@config.publishedStickerText%}/{%@config.unpublishedStickerText%}"></div>
    </div>
  {%/if%}
  <div class="booklist booklistStatic booklistStatic{%list.length%}">
    <div class="booklist-display">
      {%#list%}
      <div class="booklist-item booklist-item{%@index%}">
        <div class="bookCoverImage {%id%}CoverIcon">
          <a class="bookCoverLink" href="{%@config.booksPath%}/{%id%}" aria-label="{%title%}"></a>
          {%#if published%}
          <a class="buybook" href="{%primaryDistributor.url%}" target="_blank" title="Buy now from {%primaryDistributor.name%}">Buy Now</a>
          {%else%}
          <div class="comingSoon">Coming Soon!</div>
          {%/if%}
        </div>
      </div>
      {%/list%}
    </div>
  </div>
{%/each%}

</div>

<script>
  let resizeDebounce = null

  {%#if @config.useBookLists%}

  let breakPoints = [{
      {%#each group.pubs%}
        },{
          minStaticWidth: ({%list.length%} * ({%@config.coverIconWidth%} + 10)) + 60,
          carouselCls: 'booklistCarousel' + {%list.length%},
          staticCls: 'booklistStatic' + {%list.length%}
      {%/each%}
    }]
    breakPoints = breakPoints.slice(1) // Clear dummy empty list element

    function toggleCarouselVisibility(breakPoint, showCarousel) {
      // if (showCarousel) {
      //   console.log('Toggle visibility on for ' + breakPoint.carouselCls + ' off for ' + breakPoint.staticCls)
      // } else {
      //   console.log('Toggle visibility on for ' + breakPoint.staticCls + ' off for ' + breakPoint.carouselCls)
      // }
      const carouselList = document.getElementsByClassName(breakPoint.carouselCls)
      const staticList = document.getElementsByClassName(breakPoint.staticCls)
      for (var i = 0; i < carouselList.length; ++i) {
        const elem = carouselList[i]
        elem.classList.toggle("hidden", !showCarousel);
      }
      for (var i = 0; i < staticList.length; ++i) {
        const elem = staticList[i]
        elem.classList.toggle("hidden", showCarousel);
      }
    }

    function toggleCarousel() {
      breakPoints.map(bp => {
        //console.log('In resize breakpoint. Window width: ' + window.innerWidth + ' min static list width: ' + bp.minStaticWidth)
        if (window.innerWidth < bp.minStaticWidth) {
          toggleCarouselVisibility(bp, true)
        } else {
          toggleCarouselVisibility(bp, false)
        }
      })
    }

    toggleCarousel()

  {%/if%}

  function toggleMoreButton() {
    const container = document.querySelector('details .summary')
    const lastPara = document.querySelector('details .summary p:last-child')
    const more = document.querySelector('details .more')
    if (container && lastPara && more) {
      contRect = container.getBoundingClientRect()
      lastRect = lastPara.getBoundingClientRect()
      console.log(`text bottom ${lastRect.bottom}, content bottom: ${contRect.bottom}`)
      if (lastRect.bottom <= contRect.bottom) {
        console.log(`Hide more button`)
        more.classList.toggle('hidden', true)
      } else {
        more.classList.toggle('hidden', false)
      }
    }
  }

  toggleMoreButton()

  window.onresize = (ev) => {
    clearTimeout(resizeDebounce)
    resizeDebounce = setTimeout(() => {
      {%#if @config.useBookLists%}
        toggleCarousel()
      {%/if%}
      toggleMoreButton()
    }, 250)
  }

</script>

{%#if @config.useBookLists%}
  <div id="booksSlider"></div>
{%/if%}

{%/page%}