{%#> page id=pageId %}

<div class="page-books content">
<p>
  <div class="bookTable">
    {%#items%}
    <div class="bookTable-item bookTable-item{%@index%} {%id%}CoverIconWidth">
      <div class="bookCoverImage {%id%}CoverIcon">
        <a class="bookCoverLink" href="{%@config.booksPath%}/{%id%}" aria-label="{%title%}"></a>
        {%#if published%}
        <a class="buybook" href="{%primaryDistributor.url%}" target="_blank" title="{%primaryDistributor.popupText%}">{%publishedStickerText%}</a>
        {%else%}
        <div class="comingSoon">{%unpublishedStickerText%}</div>
        {%/if%}
      </div>
      {%#if false%}
      <div class="authorList">
        {%#author%}
          <a href="{%@config.authorPath%}/{%id%}">{%name%}</a>
        {%/author%}
      </div>
      {%/if%}
      <a href="{%@config.booksPath%}/{%id%}" aria-label="{%title%}">
        <span class="logline">{%loglineTrunc%}</span>
      </a>
    </div>
    {%/items%}
  </div>
</div>

{%/page%}
