{%#> page id=pageId uiApp=true %}

<div class="page-social content">
  <div class="promotionsBlock">
    <div class="title">Social Media</div>
    <p>{%noescape @config.socialMediaPageText%}</p>
    <p>
      <span class="title">Shareables</span> <span>(Click on the images to share, or copy the link to paste)</span>
    </p>
    <div class="promotions pure-g">
      <div class="promoCol pure-u-1-2">
        <div class="title">Bluesky</div>
        <div class="promoContainer">
        {%#social%}
          {%#if category.bluesky%}
            <div class="promoItem">
              <a class="" href="https://bsky.app/intent/compose?text={%description%} https://{%@config.hostName%}{%@config.promoLinkPath%}/tw/{%id%}" target="_blank" rel="noopener" aria-label="{%altText%}">
                <img src="/{%thumbImage%}" title="{%title%}">
              </a>
              <br>
              <span class="copyToClipboard promoLink" textToCopy="https://{%@config.hostName%}{%@config.promoLinkPath%}/tw/{%id%}">Copy Link</span>
            </div>
          {%/if%}
        {%/social%}
        </div>
      </div>
      <div class="promoCol pure-u-1-2">
        <div class="title">Facebook</div>
        <div class="promoContainer">
        {%#social%}
          {%#if category.facebook%}
          <div class="promoItem">
              <a class="" href="https://facebook.com/sharer/sharer.php?u=https://{%@config.hostName%}{%@config.promoLinkPath%}/fb/{%id%}" target="_blank" rel="noopener">
                <img src="/{%thumbImage%}" title="{%title%}">
              </a>
              <br>
              <span class="copyToClipboard promoLink" textToCopy="https://{%@config.hostName%}{%@config.promoLinkPath%}/fb/{%id%}">Copy Link</span>
          </div>
          {%/if%}
        {%/social%}
        </div>
      </div>
    </div>
  </div>
</div>

{%/page%}
